<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
    <div id="menu-nav">
        <div id="navigation-bar">
          <ul>
            <li><a href="index.html"><i class="fa fa-home"></i><span>Meals</span></a></li>
            <li><a href="modifymeals.html"><i class="fa fa-handshake"></i><span>Services</span></a></li>
            <li><a href="menu.html"><i class="fa fa-user"></i><span>Menu</span></a></li>
            <li><a href="signup.html"><i class="fa fa-book"></i><span>Sign Up</span></a></li>
            <li><a href="signin.html"><i class="fa fa-rss"></i> <span>Sign In</span></a></li>
          </ul>
        </div>
        
        </div>

        <div class="container">
          
            <div class="card">
              <h3 class="title">Pizza</h3>
              <div class="bar">
                
              </div>
            
             
            </div>

   
    </div>
    <div class="container">
    <div class="fooddescp">
        <p> Try our delicious pizza in 12 , 16 and 18 inches.They contain 2500 calories and are a great meal to share with friends</p>
</div>
</div>
          
          </body>
    
</body>
</html>