<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>

  <div id="menu-nav">
    <div id="navigation-bar">
      <ul>
        <li><a href="index.html"><i class="fa fa-home"></i><span>Meals</span></a></li>
        <li><a href="modifymeals.html"><i class="fa fa-handshake"></i><span>Services</span></a></li>
        <li><a href="menu.html"><i class="fa fa-user"></i><span>Menu</span></a></li>
        <li><a href="signup.html"><i class="fa fa-book"></i><span>Sign Up</span></a></li>
        <li><a href="signin.html"><i class="fa fa-rss"></i> <span>Sign In</span></a></li>
      </ul>
    </div>
    
    </div>
    
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
      </head>
      <body>
          
      <div class="container">
        <a href="fooddetails.html">
        <div class="card">
          <h3 class="title">Pizza</h3>
          
          </a>
         
        </div>
        <a href="fooddetails.html">
        <div class="card">
          <h3 class="title">Wings</h3>
         
          </a>
        
        </div>
        <a href="fooddetails.html">
        <div class="card">
          <h3 class="title">Stir Fry</h3>
         
          </a>
          
        </div>
        <a href="fooddetails.html">
        <div class="card">
          <h3 class="title">Calamari</h3>
          
          </a>
       
        </div>
      </div>
      </body>


</body>
</html>